{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": "module",
    "tsx": true,
    "ecmaVersion": "2021",
    "sourceType": "module" //import,export
  },
  "rules": {
    "quotes": ["warn", "single"],
    "semi": ["warn", "always"],
    "no-unused-vars": ["warn"],
    "camelcase": ["warn"]
  }
}